

<h2 align="center" style="color: rgb(255, 103, 82)">Live bus location</h2>
<hr>
<div align="center">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">

</div>

<div align="center">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
<img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
</div>

<div align="center">
    <img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
    <img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
    <img src="https://media.giphy.com/media/3oEjHBd8nehqCC6iOI/giphy.gif">
    </div>