

  <h2 align="center">Schedule</h2>
<hr>
<form [formGroup]="ScheduleForm" (ngSubmit)="ScheduleShow()">
    <table align="center" border='1'>
       <tr>
          <th>Type of Line:</th>
          <td>
              <select formControlName="line" (change)="typeSelected()">
                  <option *ngFor="let item of TypeLine" [value] = "item.name">{{item.name}}</option>
      
              </select>
          </td>
        </tr>
        <tr>
            <th>Type of Day:</th>
            <td>
                <select formControlName="day">
                    <option *ngFor="let item of TypeDay" [value] = "item.name">{{item.name}}</option>
      
                </select>
            </td>
          </tr>
       
        <tr>
                <th>Number:</th>
                <td>
                    <select formControlName="number" >
                        <option *ngFor="let line of lines" [value]="line.Number">{{line.Number}}</option>
                    </select>
                </td>
        </tr>
            
    
        <tr>
        <th colspan="2"><button type="submit">Show</button></th>
        </tr>
        
        </table>
      </form>
      <hr>

      <table align="center"> 
      <ul>
  <li *ngFor="let time of parser">{{time}}</li>
</ul>
</table>
      <!-- <label *ngFor="let time of parser">{{time}}</label> -->