
 <div *ngIf="isLoaded">
    <h2 align="center" style=" font: 30px Montserrat, sans-serif;color:#3eb0f1;font-weight: bold;">Manage station</h2>
    <table align="center" border='1' style="font: 20px Montserrat, sans-serif; line-height: 1.8; color: black;" >
        <tr>
            <th style="padding: 4px;">Name</th>
            <th style="padding: 4px;">Address</th>
            <th style="padding: 4px;">Latitude</th>   
            <th style="padding: 4px;">Longitude</th>      
            <th style="padding: 4px;"></th> 
            <th style="padding: 4px;"></th>     

          </tr>
          <tr *ngFor="let item of stations">
              <td style="padding: 4px;">{{item.Name}}</td>
              <td style="padding: 4px;">{{item.Address}}</td>
              <td style="padding: 4px;">{{item.Latitude}}</td>
              <td style="padding: 4px;">{{item.Longitude}}</td>
              <td style="padding: 4px;"><button (click)="Edit(item.Name)">Edit</button></td>
              <td style="padding: 4px;"><button (click)="Delete(item.Name)">Delete</button></td>
          </tr>
    </table>
</div>
<div *ngIf="canEdit">
  <hr>
  <h2 align="center" style=" font: 28px Montserrat, sans-serif;color:#f13e5c;">Edit station</h2>

  <form [formGroup]="stationForm" (ngSubmit)="Update()" enctype="multipart/form-data" >
    <table align="center" border='1' style="font: 20px Montserrat, sans-serif; line-height: 1.8; color: black;" >
        <tr>
            <th style="padding: 4px;">Name</th>
            <th style="padding: 4px;">Address</th>
            <th style="padding: 4px;">Latitude</th>   
            <th style="padding: 4px;">Longitude</th>      
            <th style="padding: 4px;"></th>    

          </tr>
          <tr>
              <td>{{statin.Name}}</td>
              <td style="padding: 4px;"><input type="text" formControlName="Address" required/></td>
              <td style="padding: 4px;"><input type="text" formControlName="Latitude" required/></td>
              <td style="padding: 4px;"><input type="text" formControlName="Longitude" required/></td>
              <td style="padding: 4px;"><button>Save</button></td>
          </tr>
    </table>
    </form>
  </div>
<hr>


<h3  style=" font: 28px Montserrat, sans-serif;color:#f3c239;">Choose location from map</h3>



<p>
    <!-- Kreiramo mapu -->
    <agm-map [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18" (mapClick)="placeMarker($event)">  
  
      <agm-marker [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [title]="markerInfo.title"
      [label]="markerInfo.label" [iconUrl]="markerInfo.iconUrl">
  
        <!-- Svakom markeru dodajemo info-window (Nije obavezno!)-->
        <agm-info-window [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" >
  
          <!-- U info-window stavljamo html -->
          <span style="font-size: 16px;font-family:'Times New Roman'">Fakultet tehničkih nauka</span>
          <br/>
          <span style="font-family:'Times New Roman'; color:gray;"><strong>Jugodrvo</strong></span>
          <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span>
          <a [href]="markerInfo.link">See the site.</a>
        </agm-info-window>
  
      </agm-marker>
  
      <agm-polyline [strokeColor]="polyline.color">
           <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
           </agm-polyline-point>
      </agm-polyline>
  
      <agm-marker *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude" [iconUrl]="polyline.icon">
      </agm-marker>
  
    </agm-map>
  </p>

<hr>
<h2 align="left" style=" font: 30px Montserrat, sans-serif;color:#3eb0f1;font-weight: bold;">Add station</h2>
<hr>
  <form [formGroup]="station" (ngSubmit)="addStation()" enctype="multipart/form-data"  >
    <table align="left" border='1' style="font: 20px Montserrat, sans-serif; line-height: 1.8; color: black;" >
        <tr>
          <th>Name:</th>
          <td><input type="text" formControlName="Name" required/></td>
        </tr>
        <tr>
          <th>Address:</th>
          <td><input type="text" formControlName="Address" required/></td>
        </tr>
        <tr>
          <td colspan="2"><button>Add</button></td>
         </tr>
        </table>
        </form>