<h2 align="center">Register</h2>
<hr>
<form [formGroup]="registerForm" (ngSubmit)="register()" enctype="multipart/form-data">
<table align="center" border='1'>
		<tr align="center">
			<th  id="Naslov" colspan=2>Please fill out the form!</th>
    </tr>
    
    <tr>
        <th>Email:</th>
        <td> <input type="email" formControlName="Email" required placeholder="email@email.com" ></td>
      </tr>
      <tr>
          <th>Password:</th>
          <td> <input type="text" formControlName="Password" required placeholder="6 character minimum"></td>
        </tr>
        <tr>
            <th>Repeat password:</th>
            <td> <input type="text" formControlName="ConfirmPassword" required placeholder="type password again"></td>
          </tr>

    	<tr>
			<th colspan="2">Personal informations</th>
		</tr>	
		<tr>
			<th>First name:</th>
			<td> <input type="text" formControlName="FirstName" required placeholder="eg. John"></td>
		</tr>	
		
		<tr>
			<th>Last name:</th>
			<td><input type="text" formControlName="LastName" required placeholder="eg. Mark"></td>
		</tr>
	
        <tr>
            <th>Date of birth</th>
            <td><input type="date" formControlName="BirthDate" required></td>
          </tr>
              <tr>
                  <th>Address:</th>
                  <td><input type="text" formControlName="Address" placeholder="eg. Street 88"></td>
                </tr>
      <tr>

			<th>You are:</th>
			<td>
          <input (click)="hit()" type="radio" formControlName="IDtypeOfUser" value="1">Student
          <input (click)="hit()" type="radio" formControlName="IDtypeOfUser" value="2">Pensioner
          <input (click)="inHit()" type="radio" formControlName="IDtypeOfUser" value="3">Regular

			</td>
		</tr>
  
  
    <tr *ngIf="canUpload">
        <th>Document:  </th>
        <td>
            <label formControlName="ImageUrl" for="filePicker">Choose or drag a file:</label><br>
            <input type="file" id="filePicker" (change)="handleFileSelect($event)">
            <img [src]="mySrc" />
            </td>
      </tr>	
 
		<tr>
		<th colspan="2"><button type="submit"  [disabled]="!registerForm.valid">Register</button></th>
		</tr>
		
    </table>
  </form>
  <h5 *ngIf="!registerForm.valid" align="center" style=" font: 20px Montserrat, sans-serif;color:#72909e;">&nbsp;Form is not valid</h5>

  <h5 *ngIf="message" align="center" style=" font: 23px Montserrat, sans-serif;color:#ee2f28;">&nbsp;{{message}}</h5>
  <h5 *ngIf="message1" align="center" style=" font: 25px Montserrat, sans-serif;color:#1064c4;">&nbsp;{{message1}}</h5>

 
  