<!-- 
<h2 align="center">Price list</h2>
<hr>
<form (ngSubmit)="showPrices()">
    <table align="center" border='1'>
       <tr>
          <th>Type of ticket:</th>
          <td>
              <select id="ticket" [(ngModel)]="selectedTicket">
              <option value="one-hour">One-hour ticket</option>
              <option value="day">Day ticket</option>
              <option value="mounth">Mounth ticket</option>
              <option value="year">Year ticket</option>
              </select>
          </td>
        </tr>
        <tr>
            <th>Type of passanger:</th>
            <td>
                <select [(ngModel)]="selectedTicket" name="combo_passanger">
                <option value="regular">Regular</option>
                <option value="student">Student</option>
                <option value="pensioner">Pensioner</option>
                </select>
            </td>
          </tr>
       
        <tr >
        <th colspan="2"><button type="submit">Show</button></th>
        </tr>
        
        </table>
      </form>
      <hr>
      

       -->

       <h2 align="center">Price list</h2>
        <hr>
       <table align="center" border='1'>
          <tr>
              <th>Type of ticket:</th>
              <td>
       <select [(ngModel)]="selectedTicket">
          <option *ngFor="let item of dataTicket" [ngValue]="item">{{item.name}}</option>
        </select>
        </td>
        <tr>
            <th>Type of passanger:</th>
            <td>
        <select [(ngModel)]="selectedUser">
            <option *ngFor="let item1 of dataUser" [ngValue]="item1">{{item1.name}}</option>
          </select>
          </td>
          <tr>
          <th></th>
          <td><button (click)="showPrices()">Show</button> </td>
        </tr>
         
      </table>
<hr>

<table *ngIf="isPriceDataLoaded" align="center" border='1'>
      <tr>
          <th>Price: </th>
          <td><label>{{prices}}</label></td>
        </tr>
        <tr>
            <td colspan="2"><button (click)="buyTicket()">Buy</button></td>
          </tr>
</table>

<hr>

<table align="center" border='1'>
    <tr>
        <input type="email" [(ngModel)]="selectedTicket" required placeholder="Email to get ticket" >
        </tr>
    <tr>
<button  (click)="buyOneHour()">Buy one-hour ticket here!</button>
</tr>
</table>

      <!-- <button (click)="selected1()">LALA</button>      
      <button (click)="lala()">lala</button> -->
